<button type="button" class={{this.classNamesString}} {{on "click" this.click}}>
  <div class="mg-toggle-switch__label">{{this.label}}</div>
  <span class="mg-toggle-switch__off-label">{{this.offLabel}}</span>
  <div class="mg-toggle-switch__switch"></div>
  <span class="mg-toggle-switch__on-label">{{this.onLabel}}</span>
</button>